<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.vinod.moviesapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/movie_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MoviesDetailActivityWithWebView"
                  android:launchMode="singleTop"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.HomeScreenActivity">
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MoviesDetailActivityWithViewPager"
            android:label="Details of notification"
            android:parentActivityName=".activities.HomeScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomeScreenActivity"/>
        </activity>
    </application>

</manifest>